<p>hello this is form</p>
<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value,loginForm)">
  <input
    type="text"
    placeholder="enter your name"
    pattern="[a-zA-z]+$"
    #name="ngModel"
    name="name"
    ngModel
    required=""
  />
  <br />
  @if (name.invalid && name.touched) {
  <span style="color: red;"> please provide a valid input</span>
  } <br />
  <input
    type="password"
    name="password"
    #password="ngModel"
    minlength="2"
    placeholder="enter your password"
    ngModel
    required=""
  />
  <br />
  @if (password.invalid &&password.touched) {
  <span style="color: red"> provide a valid password </span>
  }
  <br />
  <br />

  <input type="email" name="email" #email="ngModel" placeholder="email" email required  ngModel/>
  @if(email.invalid && email.touched){
  <span> provide a valid email </span>
  }
  <button [disabled]="loginForm.invalid" >Login</button>
</form>
