*{
    margin: 0;
    padding: 0;
}
.button{
    display: block;
    color: #8ecae6;
    background-color: #023047;
    width: auto;
    
}
.button:hover{
    cursor: pointer;
    background-color: #1c5aba;
    transform: scale(1,1.5);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
